@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');

body{
  font-family: "Open Sans", sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: Georgia, serif;
}

#header {
  background-image: url(council-logo.png);
  background-size: 50%;
  background-position: top right;
  background-repeat: no-repeat;
}
.title {
  width: 50%;
}
